/* RESPONSIVIDADE */
/**/
/* Estilo para a container-divs em telas pequenas */
@media (max-width: 414px) and (min-width: 360px) {
    .container-divs {
        display: flex;
        flex-wrap: wrap; /* Faz com que as divs se ajustem dentro do contêiner */
        justify-content: space-between; /* Garante que as divs fiquem separadas e alinhadas */
        gap: 15px; /* Adiciona espaço entre as divs */
        margin: 0 auto; /* Centraliza o container */
        width: 100%;
    }

    .div1, .div2 {
        width: 100%; /* Aumenta a largura das divs para 100% */
        padding: 15px;
        box-sizing: border-box; /* Garantir que padding não afete a largura total */
    }
    .h2Hab{
        padding-top: 21.4em;
    }

    .h2Cont{
        padding-top: 59em;
    }

    /*Habilidade*/

    /* Ajuste para habilidades em uma única coluna */
    .container-habilidades {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px; /* Espaço entre as habilidades */
        justify-items: center;
        margin: 0 auto;
        width: 100%; /* Faz a grid ocupar toda a largura disponível */
    }

    /* Ajusta o layout para 1 coluna em telas menores */
    .container-habilidades {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens quebrem para a linha de baixo */
        justify-content: center; /* Centraliza os itens no eixo horizontal */
        gap: 20px; /* Espaço entre as habilidades */
    }

    .habilidade {
        width: 90%; /* Ajusta a largura das habilidades para 90% */
        margin: 0 auto; /* Centraliza as habilidades */
    }

    .habilidade p {
        font-size: 1em; /* Ajusta o tamanho da fonte em telas menores */
    }

    .habilidade img {
        width: 100px; /* Ajusta o tamanho das imagens */
        height: 100px;
    }

    .h2Projeto{
        padding-top: 38em;
    }

    }

    /* Para ajustar o conteúdo das divs quando necessário */
    .div1, .div2 {
        padding: 10px;
        box-sizing: border-box;
}



/*Tela 480*/
@media (max-width: 480px) {
    .navbar nav ul {
        flex-direction: column;
        gap: 1em;
    }
    h2 {
        font-size: 2em;
    }
    button.botao {
        width: 85%;
    }
    img {
        width: 85%;
    }
    .container-habilidades {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* CONTATO */
/* Responsividade: quebra para 2 colunas em telas menores */
@media (max-width: 600px) {
    .container-contato {
        grid-template-columns: 1fr; /* Para telas menores, exibe 1 item por linha */
    }
    .contato-item {
        width: auto; /* Largura automática para itens no grid */
    }
    .h2Cont span {
        display: block; /* Força a quebra de linha */
    }

}

/* Mostrar o menu HAMBURGUER em telas pequenas */
@media (max-width: 768px) {
    /*Projeto IMG*/
    .container-projetos img {
        display: none;
    }
    
    /*Para ajeitar a altura de cada sessao*/
    .h2Projeto{
        margin-top: 11em;
    } 
    
    .forma-inicio {
        display: none;
    }


    .contato-item img {
        display: none;
    }

    .contato-item {
        width: 90%;
    }

    .subir {
        margin-top: -9em;
    }

    .div1, .div2 {
        text-align: left;
    }
    
    .h2Hab {
        margin-top: 18em;
    }

    button.botao {
        width: 17.5em;
    }

    /* Garantir que as divs fiquem centralizadas */
    .container-divs {
        width: 100%; /* Faz com que a largura das divs ocupe toda a largura disponível */
        display: flex;
        flex-direction: column; /* Coloca as divs em uma coluna em telas menores */
        gap: 1em; /* Espaçamento entre as divs */
        justify-content: center; /* Centraliza as divs verticalmente */
        align-items: center; /* Centraliza as divs horizontalmente */
        margin: 0 auto; /* Garante que o container fique centralizado */
    }

    .div1, .div2 {
        width: 100%; /* As divs ocupam 100% da largura do container */
        text-align: center; /* Garante que o conteúdo dentro das divs esteja centralizado */
    }
    

    .navbar nav ul {
        gap: 3em;
    }
    h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
    }
    .container-divs {
        flex-direction: column;
        gap: 1em;
        width: 90%; /* Aumenta a largura para que a div não fique tão pequena */
        margin: 0 auto; /* Centraliza a div */
    }
    .div1, .div2 {
        width: 100%; /* As divs ocupam 100% da largura do container */
        text-align: center; /* Garante que o conteúdo dentro da div fique centralizado */
    }
    .container-habilidades {
        grid-template-columns: repeat(2, 1fr);
    }
    #sobre {
        height: 200vw; /* Altura mínima da seção */
    }
    .container-divs { 
        display: flex;
        justify-content: center; 
        gap: 20px; 
        margin-top: 2em; 
        width: 80%; 
        margin-left: auto; 
        margin-right: auto; 
        flex-wrap: wrap; 
    }
    .div1, .div2 {
        width: 90%;
    }
    .container-habilidades {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*Tela 900*/
@media (max-width: 900px) { 
    .hamburger {
        display: block; /* Mostra o hambúrguer em telas pequenas */
        position: absolute; /* Faz o hambúrguer se posicionar de forma absoluta */
        justify-items: center;
        right: 10px; /* Coloca o hambúrguer no canto direito da tela */
        z-index: 1000; /* Garante que o hambúrguer fique acima de outros elementos */
    }
    .menu-name{
        display: block;
    }
    .hamburger i {
        color: white; /* Garante que o ícone dentro de .hamburger seja branco */
    }
    .forma-inicio {
        width: 80%;
    }
    h1{
        margin-top: -1em;
    }
    .navbar nav ul {
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 80px; /* Ajuste para o menu começar abaixo da navbar */
        right: 10px;
        width: 100%;
        background-color: #0A1E3C;
        padding: 0.5em 1em; /* Diminui o espaço entre os itens */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.3s ease, opacity 0.3s ease;
    }

    .navbar nav ul.show {
        opacity: 1;
        visibility: visible;
    }

    .navbar nav ul li {
        margin: 0.5em 0; /* Diminui o espaço entre os tópicos */
    }

    .navbar nav ul li ul {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        margin-top: 0;
        width: 100%;
        box-shadow: none;
    }

    .navbar nav ul li:hover ul {
        display: block;
    }

    .h2Hab{
        margin-top: 2.5em;
    }

    .container-habilidades {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas */
        gap: 40px 0px; /* Menor espaço entre as divs */
    }

    .habilidade {
        width: 250px; /* Ajusta a largura das habilidades */
        
    }
    .h2Projeto{
        margin-top: 12em;
    }
}

@media (max-width: 950px) { 
    .h2Hab{
        margin-top: 4em;
    }
}
/*Tela 1200*/

@media(max-width: 1200px) {
    #sobre {
        height: 110vw; /* Altura mínima da seção */
    }
    .h2Cont{
        margin-top: 32em;   
    }

}