body {
    font-family: 'Jura', sans-serif;
    background-color: #0A1E3C;
    color: #fff;
    margin-top: 80px; /* Compensa a altura da navbar fixa */
    overflow-x: hidden;
}
html, body {
    width: 100%;
    overflow-x: hidden; /* Evita que a página transborde lateralmente */
}
/*Menu mobile*/
/* Estilo para o nome da seção no menu */
.menu-name {
    display: none; /* Inicialmente escondido */
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

/*Efeito de escrita*/
.writing-effect {
    display: inline-block;
    white-space: nowrap; /* Impede que o texto quebre para a linha seguinte */
    overflow: hidden; /* Garante que o texto não exceda o espaço da caixa */
    border-right: 4px solid #ffffff; /* Cria o cursor de digitação */
    width: 0;
    animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent; /* O "cursor" pisca */
    }
}

.botao, .botao-d, .botao-g {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/*MENU*/


.navbar {
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0A1E3C; /* Fundo da navbar */
    border-bottom: 2px solid #365782;
    z-index: 1000;
}

.navbar nav ul {
    list-style-type: none;
    display: flex;
    gap: 15em;
    margin: 0;
    padding: 0;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: 0.3s;
    padding-bottom: 0.5em; /* Adicionado para espaçar da borda */
}

.navbar nav ul li a:hover {
    color: #11B6F4;
}

section{
    height: 100vh;
}

/* Barrinha ativa */
.navbar nav ul li a.active {
    border-bottom: 5px solid;
    padding-bottom: 0.2em;
    border-image: linear-gradient(to right, #ffffff 50%, #11B6F4 50%);
    border-image-slice: 1;
}
/*H2 para todos da pagina*/
h2 {
    color: #fff; /* Cor do texto */
    font-size: 2.5em; /* Ajuste o tamanho conforme necessário */
    text-align: center; /* Centraliza o texto */
    position: relative; /* Necessário para o efeito de sombra */
    text-shadow: 4px 5px 1px #11b8f482; /* Sombra azul suave abaixo do texto */
    padding-top: 1em;
    padding-bottom: 1em;
}
.h2Hab {
    margin-top: 0.2em;
}
/*HAMBURGUER*/
.hamburger {
    display: none; /* Esconde o ícone em telas grandes */
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
    z-index: 1001; /* Para ficar acima do menu */
}



/*SOBRE MIM*/

/* Estilo do título */
h1 {
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


#sobre {
    height: auto; /* Altura da seção */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Mantém o conteúdo no topo */
    text-align: center;
    padding-top: 50px;
}

.subir{
    margin-top: -10em;
}

/* Contêiner do conteúdo */
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10vw; /* Ajusta o padding lateral para não ocupar toda a tela */
}

/* Estilo da imagem */
.forma-inicio {
    position: relative;
    margin-left: 0; 
    padding-left: 0; 
}

img {
    width: 75%; /* A imagem ocupa 75% da largura da tela */
    height: auto;
    margin-left: 0; 
    padding-left: 0;
    
}

/* Estilo do botão */
button.botao {
    width: 47em; /* Largura do botão igual à largura da div de cima */
    background-color: #11B6F4;
    border: 2px solid #fff; /* Borda branca */
    color: white;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 10px; /* Bordas arredondadas no botão */
    margin-top: 20px; /* Espaço acima do botão */
    cursor: pointer;
    display: block; /* Para garantir que o botão ocupe a largura completa */
    margin-left: auto; /* Centraliza o botão */
    margin-right: auto; /* Centraliza o botão */
    box-sizing: border-box; /* Para garantir que o padding não afete a largura */
}
button.botao a {
    color: white; /* Garante que o texto do link dentro do botão fique branco */
    text-decoration: none; /* Remove o sublinhado */
    display: block; /* Faz com que o link ocupe todo o botão */
    width: 100%; /* Garante que o link ocupe a largura total do botão */
}

/* Ícone de download */
button.botao i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    font-size: 1.5em; /* Tamanho do ícone */
}

button.botao:hover {
    background-color: #0a92c3; /* Cor do botão ao passar o mouse */
}

/* Controlando o tamanho das divs lado a lado */
#centralizar {
    display: flex;
    flex-direction: column;  /* Organiza os itens em uma coluna */
    align-items: center;  /* Centraliza o conteúdo horizontalmente */
    justify-content: center;
    text-align: center;
}

.container-divs {
    display: flex;  /* Para as divs ficarem lado a lado */
    justify-content: center;  /* Alinha as divs no centro horizontal */
    gap: 20px;  /* Espaço entre as divs */
    width: 100%;
    max-width: 900px;  /* Largura máxima das divs */
    margin: 0 auto;  /* Centraliza as divs no meio */
    box-sizing: border-box;
}



/* Estilo das divs lado a lado */
.div1, .div2 {
    background-color: #0A1E3C; /* Cor de fundo das divs */
    border: 2px solid #fff; /* Borda branca */
    border-radius: 15px; /* Bordas arredondadas */
    padding: 20px;
    width: 20em;  /* As divs ocupam 48% da largura do container */
    color: #fff;
    box-sizing: border-box; /* Para garantir que o padding não afete a largura */
    text-align:justify;
    font-size: 25px;

}


/* HABILIDADES*/

#habilidade {
    height: auto; /* Removi o valor fixo para evitar problemas de layout */
    margin-bottom: 50px; /* Adicionei margem inferior para distanciar do botão */
}

.habilidade img {
    width: 120px;
    height: 120px;
    margin-bottom: 5px; /* Espaçamento entre a imagem e o texto */
}

.container-habilidades {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 40px 10px; /* Espaço entre as divs */
    justify-items: center;
}

.habilidade {
    background-color: #ffffff28; /* Cor de fundo das divs */
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid #11B6F4;
    width: 300px;
}

.habilidade p {
    font-size: 1.2em;
    font-weight: bold;
}


/*PROJETOS*/
#projetos, h2{
    margin-top: 4em;
}

.container-projetos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px; /* Aumenta o espaçamento inferior */
    margin: 0 auto; /* Centraliza horizontalmente */
    width: 100%; /* Ajuste a largura conforme necessário */
    display: flex;
    justify-content: center; /* Centraliza os itens internos horizontalmente */
    align-items: center; /* Centraliza os itens internos verticalmente */
}

.projeto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #000;
    color: black;
    gap: 15px;
    width: fit-content; 
    max-width: 60%;
    height: fit-content;
}

.foto-projeto {
    width: 180px;
    height: auto;
    border-radius: 8px; /* Deixa as bordas arredondadas, se quiser */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para destacar */
    transition: transform 0.3s; /* Suaviza o efeito ao passar o mouse */
}

.foto-projeto:hover {
    transform: scale(1.03); /* Aumenta um pouco a imagem ao passar o mouse */
}


.info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botoes {
    display: flex;
    gap: 10px;
}

.botao-d, .botao-g {
    padding: 5px 10px;
    width: 45%;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s;
}

.botao-d {
    background-color: #11B6F4;
}

.botao-g {
    background-color: black;
}

.botao:hover {
    opacity: 0.8;
}

.botao-d:hover {
    background-color: #0056b3;  /* Cor do fundo quando o botão é hover */
}


/*CONTATO*/
/* Estilos de Contato */
/* Estilos de Contato */
/* Estilos de Contato */
.h2Cont {
    margin-top: 1200px;
    text-align: center;
    color: #ffffff;
}

.container-contato {
    display: flex;
    flex-direction: column;
    background-color: #142E50;
    padding: 30px;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    border: 3px solid #11B6F4;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
   
}

.contato-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff23;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
}

.contato-item img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.contato-item p {
    margin: 0;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.contato-item p strong {
    min-width: 120px;
}

.contato-item a {
    color: #11B6F4;
    text-decoration: none;
    margin-left: auto;
    text-align: right;
    width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contato-item a:hover {
    text-decoration: underline;
}


